<% module_namespacing do -%>
class <%= class_name %>Metric < ApplicationMetric
  def scope
    <%= options[:scope] %>
  end

  def type
    <%= options[:type][0] == ':' ? options[:type] : ":#{options[:type]}" %>
  end

  <% if options[:period] %>
  def period
    <%= options[:period][0] == ':' ? options[:period] : ":#{options[:period]}" %>
  end
  <% end %>
end
<% end -%>